extends layout

block content
  h1= title
  p= des
  if list
    ul
      each val in list
        li
            a(href='/posts/' + val.userId + '-' + val.id) #{val.headline} 
            p created by #[a(href='/users/' + val.user.userName) #{val.user.userName}] at: #{val.createdAt}